html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: burlywood;
  padding: 150px;
}

.logo {
  width: 10%;
  height: auto;
}

.header {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.menu {
  font-size: 13px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #331800;
  width: 100%;
  padding: 50px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  color: white;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 19px;
  border-inline: silver 2px solid;
}
.menu ul li a:hover {
  background-color: #70cce1;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  color: 13220;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
  margin-bottom: 18px;
}

img {
  height: 25%;
  width: 25%;
}

p {
  font-size: 20px;
  text-align: center;
  color: 13220;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.foto1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.servicio .seguras {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.servicio .materia {
  font-size: 19px;
  text-align: center;
}

#footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-style: normal;
}

#Residencia h2 {
  border: solid 2px black;
  display: inline;
}

#Residencia img {
  padding-top: 20px;
  display: block;
  margin-bottom: 30px;
}

#StudyAbroad h2 {
  border: solid 2px black;
  display: inline;
}

#StudyAbroad img {
  padding-top: 20px;
  display: block;
  margin-bottom: 30px;
}

#Visa h2 {
  border: solid 2px black;
  display: inline;
}

#Visa img {
  padding-top: 20px;
  display: block;
  margin-bottom: 30px;
}

#WorkAbroad h2 {
  border: solid 2px black;
  display: inline;
}

#WorkAbroad img {
  padding-top: 20px;
  display: block;
  margin-bottom: 30px;
}

.necesidad {
  margin-top: 25px;
  margin-bottom: 25px;
}

.direcciones, .disclaimer {
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}

.disclaimer {
  margin-top: 5px;
}

.Emilia, .Approach, .Lucia {
  border: #331800 4px solid;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(116, 116, 179);
  margin-bottom: 25px;
  margin-left: 7%;
  margin-right: 7%;
}
.Emilia .cuerpoEmilia, .Approach .cuerpoEmilia, .Approach .miApproach, .Lucia .cuerpoEmilia, .Lucia .cuerpoLucia {
  text-align: left;
  font-size: x-large;
  margin-bottom: 15px;
}
.Emilia .firmaEmilia, .Approach .firmaEmilia, .Approach .FirmaApproach, .Lucia .firmaEmilia, .Lucia .firmaLucia {
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 5px;
}

.Lucia {
  background-color: blue;
}
.Approach {
  background-color: aquamarine;
}
.forma {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.consulta {
  display: inline-flex;
  border: #331800 solid 3px;
  grid-template-rows: 1fr 2fr;
  flex-flow: column;
  margin-bottom: 27px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.consulta .ayudarle {
  font-size: 18px;
  text-align: left;
  margin-bottom: 17px;
  margin-top: 7px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.consulta .sirvase {
  font-size: 15px;
  text-align: left;
  margin-top: 1px;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.etapas {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 5px;
  font-weight: bold;
}

.Residencia {
  grid-area: Residencia;
  border: #331800 4px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.ResidenciaH2 {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 3px;
}

.ResidenciaImg {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.StudyAbroad {
  grid-area: StudyAbroad;
  border: #331800 4px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.StudyAbroadH2 {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 3px;
}

.StudyAbroadImg {
  width: 400px;
  height: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}

.Visa {
  grid-area: Visa;
  margin-top: 30px;
  border: #331800 4px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.VisaH2 {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 3px;
}

.VisaImg {
  width: 400px;
  height: auto;
  margin-top: 5%;
  margin-bottom: 20%;
}

.WorkAbroad {
  grid-area: WorkAbroad;
  margin-top: 30px;
  border: #331800 4px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.WorkAbroadH2 {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 3px;
}

.WorkAbroadImg {
  width: 400px;
  height: auto;
  margin-top: 5%;
  margin-bottom: 20%;
}

.tramites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Residencia StudyAbroad" "Visa WorkAbroad";
  justify-items: center;
}

.necesidad {
  display: flex;
  flex-direction: column;
}

#multi {
  width: 40%;
}

.formulario .mailContacto {
  font-weight: bold;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.formulario .puntual {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.formulario .adjunte {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.parrafo2 {
  margin-left: 20%;
  margin-right: 20%;
}
.parrafo2 .formacionH2 {
  display: block;
  font-weight: bold;
  font-size: 30px;
  border: black 2px solid;
  background-color: rgb(113, 81, 10);
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.parrafo2 .paragraph2 {
  margin-bottom: 30px;
}

.qualifications {
  margin-left: 20%;
  margin-right: 20%;
}
.qualifications .qualificationsH2 {
  display: block;
  font-weight: bold;
  font-size: 30px;
  border: black 2px solid;
  background-color: rgb(113, 81, 10);
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.qualifications .paragraph3 {
  font-size: 20px;
}

.fotoDePerfil {
  text-align: center;
  margin-bottom: 20px;
}

.seguridad {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: rgb(59, 38, 38);
  padding: 5px;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: bold;
}

iframe {
  width: 90%;
  margin-left: 5%;
}

.iframe2 {
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.TraduJur {
  border: #331800 solid 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 2%;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.TraduJurDt {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  text-align: left;
  margin-left: 1%;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 20px;
}

.TraduJurDd {
  text-align: left;
  margin-left: 2%;
  font-size: large;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.TraduEmp {
  border: #331800 solid 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2%;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.TraduEmpDt {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  text-align: left;
  margin-left: 1%;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 20px;
}

.TraduEmpDd {
  text-align: left;
  margin-left: 2%;
  font-size: large;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.TraduMed {
  border: #331800 solid 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.TraduMedDt {
  border: #331800 3px solid;
  background-color: silver;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: radius 2px;
  text-align: left;
  margin-left: 1%;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 20px;
}

.TraduMedDd {
  text-align: left;
  margin-left: 2%;
  font-size: large;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  body {
    padding: 30px;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 20px;
    height: auto;
    padding: 7px;
    align-self: center;
    margin-top: 0;
  }
  .menu {
    margin: auto;
    padding: 0%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
  }
  .menu ul {
    list-style: none;
    display: inline-block;
    padding: auto;
  }
  .menu ul li {
    display: block;
  }
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
  }
  h1 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .foto1 {
    width: 180px;
  }
  .servicio .seguras {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .servicio .materia {
    font-size: 14px;
    text-align: center;
  }
  .consulta .ayudarle {
    font-size: 12px;
  }
  .consulta .sirvase {
    font-size: 9px;
  }
  .formulario {
    font-size: 9px;
  }
  .inputMail {
    width: 50%;
    height: 6px;
  }
  .necesidad {
    width: 200%;
  }
  .adjuntar input {
    margin-top: 5px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 7px;
  }
  .direcciones, .disclaimer {
    font-size: 6px;
  }
  .etapas {
    font-size: 9px;
  }
  .tramites {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Residencia StudyAbroad" "Visa WorkAbroad";
    justify-items: center;
  }
  .Residencia {
    grid-area: Residencia;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .ResidenciaH2 {
    font-weight: bold;
    font-size: 12px;
    border: black solid 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ResidenciaImg {
    width: 200px;
    height: auto;
    margin-bottom: 60px;
  }
  .StudyAbroad {
    grid-area: StudyAbroad;
    margin-left: auto;
    margin-right: auto;
  }
  .StudyAbroadH2 {
    font-weight: bold;
    font-size: 12px;
    border: black solid 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .StudyAbroadImg {
    width: 200px;
    height: auto;
    margin-bottom: 60px;
  }
  .Visa {
    grid-area: Visa;
    margin-left: auto;
    margin-right: auto;
  }
  .VisaH2 {
    font-weight: bold;
    font-size: 12px;
    border: black solid 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .VisaImg {
    width: 200px;
    height: auto;
    margin-bottom: 60px;
  }
  .WorkAbroad {
    grid-area: WorkAbroad;
    margin-left: auto;
    margin-right: auto;
  }
  .WorkAbroadH2 {
    font-weight: bold;
    font-size: 12px;
    border: black solid 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .WorkAbroadImg {
    width: 200px;
    height: auto;
    margin-bottom: 60px;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .seguridad {
    border: #331800 3px solid;
    background-color: silver;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: sans-serif;
    border: radius 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: rgb(59, 38, 38);
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: bold;
  }
  .TraduJur {
    border: #331800 solid 3px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 2%;
    max-width: 80%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 10px;
  }
  .TraduJurDt {
    border: #331800 3px solid;
    background-color: silver;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: sans-serif;
    border: radius 2px;
    text-align: left;
    margin-left: 1%;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 20px;
  }
  .TraduJurDd {
    text-align: left;
    margin-left: 2%;
    font-size: large;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  .TraduEmp {
    border: #331800 solid 3px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 2%;
    max-width: 80%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 10px;
  }
  .TraduEmpDt {
    border: #331800 3px solid;
    background-color: silver;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: sans-serif;
    border: radius 2px;
    text-align: left;
    margin-left: 1%;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 20px;
  }
  .TraduEmpDd {
    text-align: left;
    margin-left: 2%;
    font-size: large;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  .TraduMed {
    border: #331800 solid 3px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 2%;
    max-width: 80%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 10px;
  }
  .TraduMedDt {
    border: #331800 3px solid;
    background-color: silver;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: sans-serif;
    border: radius 2px;
    text-align: left;
    margin-left: 1%;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 20px;
  }
  .TraduMedDd {
    text-align: left;
    margin-left: 2%;
    font-size: large;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  iframe {
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .Emilia, .Lucia, .Approach {
    border: #331800 2px solid;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(116, 116, 179);
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .Emilia .cuerpoEmilia, .Lucia .cuerpoEmilia, .Approach .cuerpoEmilia, .Lucia .cuerpoLucia, .Approach .miApproach {
    text-align: left;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .Emilia .firmaEmilia, .Lucia .firmaEmilia, .Approach .firmaEmilia, .Lucia .firmaLucia, .Approach .FirmaApproach {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .Lucia {
    background-color: blue;
  }
  .Approach {
    background-color: aquamarine;
  }
  .fotoDePerfil {
    text-align: center;
    margin-bottom: 20px;
  }
  .parrafo2 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .parrafo2 .formacionH2 {
    display: block;
    font-weight: bold;
    font-size: 20px;
    border: black 2px solid;
    background-color: rgb(113, 81, 10);
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .parrafo2 .paragraph2 {
    font-size: 15px;
  }
  .qualifications {
    margin-left: 20%;
    margin-right: 20%;
  }
  .qualifications .qualificationsH2 {
    display: block;
    font-weight: bold;
    font-size: 20px;
    border: black 2px solid;
    background-color: rgb(113, 81, 10);
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .qualifications .paragraph3 {
    font-size: 15px;
  }
}/*# sourceMappingURL=main.css.map */